<h1 class="my-5 text-center">Vista de productos</h1>
<table class="d-flex flex-column">
    <thead>
        <tr class="d-flex justify-content-between">
            <th style="margin-bottom: 20px; width:33.3%">Producto</th>
            <th style="margin-bottom: 20px; width:33.3%">Precio</th>
            <th style="margin-bottom: 20px; width:33.3%">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr class="d-flex justify-content-between">
                <td style="margin-bottom: 20px; width:33.3%">{{title}}</td>
                <td style="margin-bottom: 20px; width:33.3%">{{price}}</td>
                <td style="margin-bottom: 20px; width:33.3%"><img src="{{thumbnail}}" alt="{{title}}" height="150" width="200"></td>
            </tr>
            {{else}}
            <tr>
                <td>No hay productos en la lista</td> 
            </tr>
        {{/each}}
    </tbody>
</table>

<a href="/" class="btn btn-primary">Ir al formulario</a>